@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Caveat:wght@700&family=EB+Garamond&family=Fuzzy+Bubbles:wght@700&family=Gemunu+Libre:wght@800&family=Inter+Tight:ital,wght@0,300;1,300&family=Kalam&family=Montserrat:ital,wght@1,100&family=Nabla&family=Nunito:ital,wght@0,300;1,200&family=Open+Sans:wght@700&family=Orbitron:wght@600&family=Oswald:wght@600&family=Roboto:ital,wght@0,100;0,300;1,300&family=Signika+Negative:wght@500&family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Spice&family=Caveat:wght@700&family=EB+Garamond&family=Fuzzy+Bubbles:wght@700&family=Gemunu+Libre:wght@800&family=Inter+Tight:ital,wght@0,300;1,300&family=Kalam&family=Montserrat:ital,wght@1,100&family=Nabla&family=Nunito:ital,wght@0,300;1,200&family=Open+Sans:wght@700&family=Orbitron:wght@600&family=Oswald:wght@600&family=Roboto:ital,wght@0,100;0,300;1,300&family=Signika+Negative:wght@500&family=Silkscreen&display=swap');

*{
    margin : 0;
    padding: 0;
}
.container {
    margin-left: 231px;

    padding: 26px;
    height: 500px;
    width: 950px;
    display: flex;
    flex-direction: column;
    background: none;
    margin-top: -54px;
}
.logo{

    height: 450px;
    width: 450px;
    margin-left: 273px;
    margin-top: -123px;
}
.ques {
    font-family: 'Bangers', cursive;
    text-align: center;
    margin-left: 47px;
    text-decoration-color: white;
    height: 81px;
    width: 878px;
    display: flex;
    flex-direction: column;
    background: none;
    border-radius: 30px;
    font-size: 51px;
    margin-top: -4px;
    color: #d10cd1;}
ul {
    color: rgb(148, 63, 227);
    font-family: 'Bangers', cursive;
    margin-top: -82px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}
ul li {
    border-color: yellow;
    color: white;
    list-style-type: none;
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 21px;
    height: 29px;
    width: 243px;
    display: flex;
    flex-direction: column;
    background-color: rgb(42 38 153);
    border-radius: 30px;
    font-size: 21px;
    margin-top: 216px;
    text-align: center;
}
ul li label{
    cursor: pointer;
}

ul li :hover{
    background: none;
    border-color: yellow;
}

.button-64 {
    border-radius: 91px;
    width: 69px;
    margin-top: 54px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgb(151 65 252 / 20%) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    height: 36px;
    width: 443px;
    margin-left: 278px;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}





.corr {
    visibility: hidden;
    position: relative;
    top: -705px;
    font-size: 80px;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    color: rgb(102, 0, 255);
}

  .inco{
    visibility: hidden;
    position: relative;
    top: -1225px;
    font-size: 80px;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    color: rgb(102, 0, 255);
  }
 
.body{
    height: 770px;
    background-image: url(bck.png);
    background-size: 1529px;
    background-repeat: no-repeat;
    width: 1519px;
}


.next{
    visibility: hidden;
    
  }

  #scoreCount {
    font-family: 'Orbitron', sans-serif;
    margin-top: -165px;
    top: 51px;
    font-size: 44px;
    color: #e2dff3;
    margin-left: -221px;
}

#scoreCCount {
    font-family: 'Orbitron', sans-serif;
    margin-top: -63px;
    top: 51px;
    font-size: 42px;
    color: #e2dff3;
    margin-left: 68vw;
}


@media screen and (max-width: 600px){
    .ques {
        font-family: 'Bangers', cursive;
        text-align: center;
        margin-left: -223px;
        text-decoration-color: white;
        height: 81px;
        width: 878px;
        display: flex;
        flex-direction: column;
        background: none;
        border-radius: 30px;
        font-size: 57px;
        margin-top: 269px;
        color: #ff93ff;}
        ul {
            color: rgb(148, 63, 227);
            font-family: 'Bangers', cursive;
            margin-top: 18px;
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        ul li {
            border-color: yellow;
            color: white;
            list-style-type: none;
            margin-left: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 21px;
            height: 37px;
            width: 243px;
            display: flex;
            flex-direction: column;
            background-color: rgb(42 38 153);
            border-radius: 40px;
            font-size: 37px;
            margin-top: 110px;
            text-align: center;
        }
        ul li label{
            cursor: pointer;
        }
        .logo{
        height: 485px;
    width: 485px;
    margin-left: -38px;
    margin-top: -60px;}
    #scoreCount {
        font-family: 'Orbitron', sans-serif;
        margin-top: -116px;
        top: 51px;
        font-size: 55px;
        color: #e2dff3;
        margin-left: -151px;
    }
    #scoreCCount { font-family: 'Orbitron', sans-serif;
    margin-top: -74px;
    top: 51px;
    font-size: 57px;
    color: #e2dff3;
    margin-left: 76vw;
}

.button-64 {
    border-radius: 91px;
    width: 69px;
    margin-top: 75px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgb(151 65 252 / 20%) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 37px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    height: 36px;
    width: 443px;
    margin-left: -21px;
}




    .body {
        background-image: url(bck2.png);
        height: 299vh;
        width: 314vw;
    }

}

